@import "/utils/utils";

@mixin button-size($class, $width, $height) {
  &.#{$class} {
    width: #{$width/$font-size}rem;
    height: #{$height/$font-size}rem;
  }
}

.default-button {
  background-color: $white;
  border: none;

  &.primary {
    background-color: white;
  }
}
